* {
  margin: 0;
  padding: 0;
}
body {
  background: #45474A;
  font-family: "微软雅黑";
  color: #fff;
}
.border {
  border: 5px solid #5D8B8E;
}
.con {
  margin: 50px auto;
  width: 800px;
  position: relative;
}
.title {
  width: 500px;
  height: 100px;
  margin-bottom: -5px;
  background: url(images/bg.png);
}
.title h1 {
  margin-top: 20px;
  text-align: center;
}
.message {
  width: 200px;
  height: 605px;
  position: absolute;
  right: 85px;
  top: 0;
  background: url(images/bg.png);
}
.message p {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 80px;
}
.message p:nth-child(1) {
  left: 20px;
  top: 50px;
}
.message p:nth-child(2) {
  left: 20px;
  top: 110px;
}
.message p:nth-child(3) {
  left: 20px;
  top: 170px;
}
.message p:nth-child(4) {
  left: 20px;
  top: 230px;
}
.message .key1 {
  left: 20px;
  top: 300px;
}
.message .key2 {
  left: 20px;
  top: 350px;
}
.message .key3 {
  left: 20px;
  top: 400px;
}
.message p._1 {
  top: 305px;
}
.message p._2 {
  top: 360px;
}
.message p._3 {
  top: 410px;
}
.map {
  width: 500px;
  height: 500px;
  background: url(images/bg.png);
  position: relative;
}
.size {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
}
.door1 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/door1.png);
  background-size: 100% 100%;
}
.door2 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/door2.png);
  background-size: 100% 100%;
}
.door3 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/door3.png);
  background-size: 100% 100%;
}
.pc {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  z-index: 1;
}
.pc:before {
  content: "";
  display: inline-block;
  animation: pcmove .8s infinite;
  width: 40px;
  height: 40px;
  margin-left: 2px;
  border-radius: 40px;
  border: 3px solid #ccc;
  background: #D0AAD5;
}
@keyframes pcmove {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 4px;
  }
}
.wall {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/wall.png);
  background-size: 100% 100%;
}
.key1 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/key1.png);
  background-size: 100% 100%;
}
.key2 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/key2.png);
  background-size: 100% 100%;
}
.key3 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/key3.png);
  background-size: 100% 100%;
}
.gw1 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/gw1.png);
  background-size: 100% 100%;
}
.gw2 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/gw2.png);
  background-size: 100% 100%;
}
.gw3 {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/gw3.png);
  background-size: 100% 100%;
}
.addhp {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/hp.png);
  background-size: 100% 100%;
}
.up {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/up.png);
  background-size: 100% 100%;
}
.down {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/down.png);
  background-size: 100% 100%;
}
.addatk {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/addatk.png);
  background-size: 100% 100%;
}
.adddef {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/adddef.png);
  background-size: 100% 100%;
}
.npc {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  background: url(images/npc.png);
  background-size: 100% 100%;
}
